<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
<meta charset="UTF-8">
<title>게시판</title>

<link rel="stylesheet" type="text/css" href="css/created.css"/>

</head>
<body>

<div id="bbs" layout:fragment="content">
	
	<form action="/updated_ok" method="post" name="myForm">
	<div id="bbsCreated">
		
		<div class="bbsCreated_bottomLine">
			<dl>
				<dt>제&nbsp;&nbsp;&nbsp;&nbsp;목</dt>
				<dd>
				<input type="text" name="subject" th:value="${board.subject}" size="60" 
				maxlength="100" class="boxTF"/>
				</dd>
			</dl>		
		</div>
		
		<div class="bbsCreated_bottomLine">
			<dl>
				<dt>작 성 자</dt>
				<dd>
				<input type="text" name="name" th:value="${board.name}" size="35" 
				maxlength="20" class="boxTF"/>
				</dd>
			</dl>		
		</div>
		
		<div class="bbsCreated_bottomLine">
			<dl>
				<dt>E-Mail</dt>
				<dd>
				<input type="text" name="email" th:value="${board.email}" size="35" 
				maxlength="50" class="boxTF"/>
				</dd>
			</dl>		
		</div>
		
		<div id="bbsCreated_content">
			<dl>
				<dt>내&nbsp;&nbsp;&nbsp;&nbsp;용</dt>
				<dd>
				<textarea rows="12" cols="63" name="content"
				class="boxTA" th:text="${board.content}"></textarea>
				</dd>
			</dl>
		</div>
		
		<div class="bbsCreated_noLine">
			<dl>
				<dt>패스워드</dt>
				<dd>
				<input type="password" name="pwd" th:value="${board.pwd}" size="35" 
				maxlength="7" class="boxTF"/>
				&nbsp;(게시물 수정 및 삭제시 필요!!)
				</dd>
			</dl>		
		</div>	
	
	</div>
	
	<div id="bbsCreated_footer">
	
		<input type="hidden" name="num" th:value="${board.num}"/>
		<input type="hidden" name="pageNum" th:value="${pageNum}"/>
		
		<input type="hidden" name="searchKey" th:value="${searchKey}"/>
		<input type="hidden" name="searchValue" th:value="${searchValue}"/>
		
		<input type="button" value=" 수정하기 " class="btn2" onclick="sendIt();"/>
		<input type="button" value=" 수정취소 " class="btn2"
		th:onclick="|location.href='list?@{${params}}'|"/> 
	</div>
	
	</form>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
        var errorMessage = [[${errorMessage}]];
        if(errorMessage != null){
            alert(errorMessage);
        }
        
    	//function sendIt(){
    	//=> = 화살표 함수
    	const sendIt = () => {
    	
    	var f = document.myForm;
    	
    	str = f.subject.value;
    	str = str.trim();
    	if(!str){
    		alert("\n제목을 입력하세요.");
    		f.subject.focus();
    		return;
    	}
    	//f.subject.value = str;
    	
    	str = f.name.value;
    	str = str.trim();
    	if(!str){
    		alert("\n이름을 입력하세요.");
    		f.name.focus();
    		return;
    	}		
    	
    	/* if(!isValidKorean(str)){
    		alert("\n이름을 정확히 입력하세요.");
    		f.name.focus()
    		return;
    	}	*/	
    	//f.name.value = str;
    	
    	if(f.email.value){
    		if(!isValidEmail(f.email.value)){
    			alert("\n정상적인 E-Mail을 입력하세요.");
    			f.email.focus();
    			return;
    		}
    	}
    	
    	str = f.content.value;
    	str = str.trim();
    	if(!str){
    		alert("\n내용을 입력하세요.");
    		f.content.focus();
    		return;
    	}
    	//f.content.value = str;
    	
    	str = f.pwd.value;
    	str = str.trim();
    	if(!str){
    		alert("\n패스워드를 입력하세요.");
    		f.pwd.focus();
    		return;
    	}
    	//f.pwd.value = str;
    	
    	//f.action = "/updated_ok";
    	f.submit();
    	
    	}

	</script>
</th:block>

</body>
</html>