<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.reservation.dao.AirplaneDao">
	
	<select id="maxNumOfAirplane" resultType="int">
		select nvl(max(airplane_no), 0) from airplane
	</select>
	
	<select id="getAirplaneDataCount" parameterType="map" resultType="int">
		select nvl(count(*), 0) from airplane where ${searchKey} like '%' || #{searchValue} || '%'
	</select>
	
	<select id="getAirplaneLists" parameterType="map" resultType="Airplane">
		select * from (
	    	select rownum rnum, data.* from(
		        select airplane_no, airplane_name, departrue, arrival, price
		        from airplane
		        where ${searchKey} like '%' || #{searchValue} || '%'
	    		order by airplane_no desc
	    	) data
		) 
		<![CDATA[		
			where rnum >= #{start} and rnum <= #{end}
		]]>
	</select>
	
	<insert id="insertAirplaneData" parameterType="Airplane">
		<![CDATA[		
			insert into airplane values(#{airplane_no}, #{airplane_name}, to_date(replace(#{departrue_date}, 'T', ''), 'YYYY-MM-DDHH24:MI:SS'), to_date(replace(#{arrival_date}, 'T', ''), 'YYYY-MM-DDHH24:MI:SS'), #{departrue}, #{arrival}, #{total_seat}, #{total_seat}, #{price})
		]]>
	</insert>
	
	<select id="getReadAirplaneData" parameterType="int" resultType="Airplane">
		select * from airplane where airplane_no = #{airplane_no}
	</select>
	
	<update id="minusLeftSeat" parameterType="int">
		update airplane set left_seat = left_seat -1 where airplane_no = #{airplane_no}
	</update>
	
	<update id="plusLeftSeat" parameterType="int">
		update airplane set left_seat = left_seat +1 where airplane_no = #{airplane_no}
	</update>
	
	<select id="getAirplaneData" parameterType="int" resultType="Airplane">
		select airplane_no, airplane_name, (to_char(departrue_date, 'YYYY-MM-DD')||'T'||to_char(departrue_date, 'HH:MI:SS')) departrue_date, 
		(to_char(arrival_date, 'YYYY-MM-DD')||'T'||to_char(arrival_date, 'HH:MI:SS')) arrival_date, departrue, arrival, total_seat, price
		from airplane where airplane_no = #{airplane_no}
	</select>
	
	<update id="updateAirplaneData" parameterType="Airplane">
		<![CDATA[		
			update airplane set airplane_name = #{airplane_name}, departrue_date = to_date(replace(#{departrue_date}, 'T', ''), 'YYYY-MM-DDHH:MI:SS'), arrival_date = to_date(replace(#{arrival_date}, 'T', ''), 'YYYY-MM-DDHH:MI:SS'),
			departrue = #{departrue}, arrival = #{arrival}, total_seat = #{total_seat}, price = #{price} where airplane_no = #{airplane_no}
		]]>
	</update>
	
	<delete id="deleteAirplaneData" parameterType="int">
		delete airplane where airplane_no = #{airplane_no}
	</delete>
	
</mapper>