<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/airplane.css" />
</th:block>

<div layout:fragment="content">
	<div class="row">
	<div class="col-3"></div>
	<div class="card airplane_content col-6">
		<div class="card-body">
			<h3 class="card-title" th:text="${airplane.airplane_name}"></h3>
			<p class="card-text">
			<b>출발일시: </b> <span th:text="${airplane.departrue_date}"></span>
			<br>
			<b>도착일시: </b> <span th:text="${airplane.arrival_date}"></span>
			<br>
			<b>출발지: </b> <span th:text="${airplane.departrue}"></span>
			<br>
			<b>도착지: </b> <span th:text="${airplane.arrival}"></span>
			<br>
			<b>남은 좌석 수: </b> <span th:text="${airplane.left_seat}"></span>
			<br>
			<b>가격:</b> <span th:text="${airplane.price}"></span>
			</p>
		</div>
	</div>
	<div class="col-3"></div>
	</div>
	
	<div class="airplane_buttons">
		<input type="button" value=" 정보수정 " class="btn btn-primary" th:onclick="|location.href='updated?airplane_no=@{${airplane.airplane_no}}&@{${params2}}'|" />
		<input type="button" value=" 삭제 " class="btn btn-danger" th:onclick="deleteCheck();" />
		<input type="button" value=" 예약 " class="btn btn-primary" th:onclick="|location.href='reservation?airplane_no=@{${airplane.airplane_no}}&@{${params2}}&airplane_name=@{${airplane_name}}'|" />
		<input type="button" value=" 목록으로 " class="btn btn-primary" th:onclick="|location.href='index?@{${params}}'|" />
	</div>
	
	<table class="table">
		<thead>
			<tr>
				<th scope="col">예약번호</th>
				<th scope="col">예약자명</th>
				<th scope="col">예약일자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${#lists.size(lists)} > 0" th:each="reservation:${lists}">
				<td scope="row" th:text="${reservation.reservation_no}"></td>
				<td>
					<a th:href="|@{${reservation_statusUrl}}&reservation_no=@{${reservation.reservation_no}}|" th:text="${reservation.user_name}"></a>
				</td>
				<td th:text="${reservation.reservation_date}"></td>
			</tr>
		</tbody>
	</table>
	
	<nav aria-label="Page navigation" th:if="${#lists.size(dataCount)} > 0">
		<ul class="pagination page_buttons" th:utext="${reservationPageIndexList}"></ul>
	</nav>
	
	<nav th:if="${#lists.size(dataCount) <= 0}">
		<ul><li>등록된 예약자가 없습니다.</li></ul>
	</nav>
	
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		var errorMessage = [[${errorMessage}]];
		if(errorMessage != null) {
			alert(errorMessage);
		}
		
		function deleteCheck() {
			const result = confirm("삭제하시겠습니까?");
			if(result) {
				const url = location.origin;
				location.href = url + "/deleted_airplane_ok?airplane_no=" + [[${airplane.airplane_no}]] + "&" + [[${params2}]];
			} else {
				return false;
			}
		}
				
	</script>
</th:block>

</html>