<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/airplane.css" />
</th:block>

<div layout:fragment="content">
	<div class="row">
	<div class="col-3"></div>
	<div class="card airplane_content col-6">
		<div class="card-body">
			<h3 class="card-title">편명</h3>
			<p class="card-text">
			<b>출발일시:</b> 입력
			<br>
			<b>도착일시:</b> 입력
			<br>
			<b>출발지:</b> 입력
			<br>
			<b>도착지:</b> 입력
			<br>
			<b>남은 좌석 수:</b> 입력
			<br>
			<b>가격:</b> 입력
			</p>
		</div>
	<div class="col-3"></div>
	</div>
	</div>
	
	<div class="airplane_buttons">
				<input type="button" value=" 정보수정 " class="btn btn-primary" onclick="javascript:location.href='/updated';" />
				<input type="button" value=" 삭제 " class="btn btn-danger" onclick="javascript:location.href='/deleted_airplane_ok';" />
				<input type="button" value=" 예약 " class="btn btn-primary" onclick="javascript:location.href='/reservation';" />
				<input type="button" value=" 목록으로 " class="btn btn-primary" onclick="javascript:location.href='/index';" />
	</div>
	
	<table class="table">
		<thead>
			<tr>
				<th scope="col">번호</th>
				<th scope="col">예약자명</th>
				<th scope="col">예약일자</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td scope="row">1</td>
				<td>12222222222222222</td>
				<td>1</td>
			</tr>
		</tbody>
	</table>
	
	<nav aria-label="Page navigation">
		<ul class="pagination page_buttons">
			<li class="page-item">
				<a class="page-link active" href="#">1</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">2</a>
			</li>
		</ul>
	</nav>
	
</div>

<th:block layout:fragment="script"></th:block>

</html>