<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/index.css" />
</th:block>

<div layout:fragment="content">
	<div id="index_header">
		<div id="leftHeader">
			<form action="/index" method="post" name="searchForm">
				<select name="searchKey" class="form-select"
					aria-label="Default select">
					<option value="airplane_name">편명</option>
					<option value="departrue">출발지</option>
					<option value="arrival">도착지</option>
				</select>
				<input class="form-control" type="text" aria-label="default input example" name="searchValue" />
				<input type="button" value=" 검 색 " class="btn btn-primary btn-sm" onclick="sendIt();" />
			</form>
		</div>
		<div id="rightHeader">
			<input type="button" value=" 항공편 등록 " class="btn btn-primary" onclick="javascript:location.href='/created';" />
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">번호</th>
				<th scope="col">편명</th>
				<th scope="col">출발지</th>
				<th scope="col">도착지</th>
				<th scope="col">가격</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${#lists.size(lists)} > 0" th:each="airplane:${lists}">
				<td scope="row" th:text="${airplane.airplane_no}"></td>
				<td>
					<a class="airplane_name" th:href="|@{${airplaneUrl}}&airplane_no=@{${airplane.airplane_no}}|" th:text="${airplane.airplane_name}"></a>
				</td>
				<td th:text="${airplane.departrue}"></td>
				<td th:text="${airplane.arrival}"></td>
				<td th:text="${airplane.price}"></td>
			</tr>
		</tbody>
	</table>
	
	<nav aria-label="Page navigation" th:if="${#lists.size(dataCount)} > 0">
		<ul class="pagination page_buttons" th:utext="${airplanePageIndexList}"></ul>
	</nav>
	
	<nav th:if="${#lists.size(dataCount) <= 0}">
		<ul><li>등록된 게시물이 없습니다.</li></ul>
	</nav>
	
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		function sendIt() {
			var f = document.searchForm;
			var str = f.searchValue.value;
			str = str.trim();

			if (!str) {
				alert("검색어를 입력하세요.");
				f.searchValue.focus();
				return;
			}

			f.submit();
		}
	</script>
</th:block>

</html>