<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" href="css/created.css" />
</th:block>

<div layout:fragment="content">
	<form action="/reservation" method="post" name="myForm">
		<div id="created" class="row g-3">
			<div class="col-md-6">
				<label for="user_name" class="form-label">이름</label>
				<input type="text" class="form-control" id="user_name" name="user_name" />
			</div>
			<div class="col-md-6">
				<label for="airplane_name" class="form-label">편명</label>
				<input type="text" class="form-control" id="airplane_name" name="airplane_name" readonly />
			</div>
			<div class="col-md-6">
				<label for="user_email" class="form-label">이메일</label>
				<input type="email" class="form-control" id="user_email" name="user_email" />
			</div>
			<div class="col-md-6">
				<label for="user_phone" class="form-label">전화번호</label>
				<input type="text" class="form-control" id="user_phone" name="user_phone" />
			</div>
		</div>
		<div id="created_footer">
			<input type="button" value=" 등록하기 " class="btn btn-primary" onclick="sendIt();" />
			<input type="reset" value=" 다시입력 " class="btn btn-secondary" onclick="document.myForm.user_name.focus();" />
			<input type="button" value=" 작성취소 " class="btn btn-danger" onclick="javascript:location.href='/index';" />
		</div>
	</form>
</div>

<th:block layout:fragment="script">
	<script th:inline="javascript">
		function sendIt() {
			var f = document.myForm; // 폼 태그
			
			var str = f.user_name.value; // 예약자 이름
			str = str.trim(); // 앞 뒤 공백 제거
			
			if(!str) {
				alert("이름을 입력하세요");
				f.user_name.focus();
				return;
			}
			
			str = f.user_email.value;
			str = str.trim();
			
			if(str) {
				if(!isValidEmail(str)) {
					alert("이메일은 a@a.a형식으로 입력해주세요.");
					f.user_email.focus();
					return;
				}
			} else {
				alert("이메일을 입력하세요");
				f.user_email.focus();
				return;
			}
			
			str = f.user_phone.value;
			str = str.trim();
			
			if(str) {
				if(!isValidPhone(str)) {
					alert("전화번호는 000-0000-0000형식으로 입력해주세요.");
					f.user_phone.focus();
					return;
				}
			} else {
				alert("전화번호를 입력하세요");
				f.user_phone.focus();
				return;
			}
			
			f.submit();
		}
	</script>
</th:block>

</html>