@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

a {
	cursor: pointer;
	text-decoration: none !important;
	font-size: 9pt;
	line-height: 150%;
}

a:hover, a:active {
	color: blue !important;
	text-decoration: none;
}

.header {
	width: 1000px;
	height: 120px;
	margin: 0 auto;
	text-align: center;
	line-height: 120px;
	background-color: lightgray;
}

.header a {
	color: #000000;
	font-size: 40px;
	font-weight: bold;
}

.content {
	width: 1000px;
	margin: 0 auto;
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}

.footer_content {
	width: 1000px;
	height: 80px;
	margin: 0 auto;
	background-color: lightgray;
}

.page_buttons {
	display: flex;
	justify-content: center;
}

.page_buttons li {
	display: flex;
}